h1{
    color:aqua;
}

#title {
    color:brown
}

h1{
    color:blue;
}

.text{
    color:cadetblue;
}

p.especial {
    color:yellow;
}

p.text {
    color:burlywood;
}

div p{
    color:chocolate;
}

div p, div h2{
    color:blueviolet;
}